// app global css in SCSS form
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.text-tertiary {
  color: #5f5697;
}
.bg-tertiary {
  background: #5f5697;
}

.text-quaternary {
  color: #9b4d9e;
}
.bg-quaternary {
  background: #9b4d9e;
}

.text-quinary {
  color: #d53a8c;
}
.bg-quinary {
  background: #d53a8c;
}
