// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

// https://mycolor.space/?hex=%23FF2E63&sub=1

$primary: #0f172a;
$secondary: #35537c;
$tertiary: #5f5697;
$quaternary: #005a78;
$quinary: #d53a8c;
$accent: #538ff8;

$dark: #1d1d1d;

$positive: #21ba45;
$negative: #d53a8c;
$info: #31ccec;
$warning: #f2c037;
