// app global css in SCSS form
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.text-tertiary {
  color: #007383;
}
.bg-tertiary {
  background: #007383;
}

.text-quaternary {
  color: #00a68b;
}
.bg-quaternary {
  background: #00a68b;
}

.text-quinary {
  color: #80d47c;
}
.bg-quinary {
  background: #80d47c;
}

.text-font {
  color: #525970;
}
.bg-font {
  background: #525970;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0px;
  margin: 0px;
  line-height: 0.7;
}
